input {
    beats {
        port => 5010
        add_field => {
            "[@metadata][index_sub_name]" => "%{[@metadata][beat]}"
        }
    }
    tcp {
        port => 5011
        add_field => {
            "[@metadata][index_sub_name]" => "tcp"
        }
    }
}